<strong>Hello, {{ student }}</strong>
<p>Your help order is answered. See details below:</p>
<p>
  <strong>Question: </strong> {{ question }} <br />
  <strong>Answer: </strong> {{ answer }} <br />
  <br />
</p>
